.anim {
    position: absolute;
    will-change: transform;
    animation: marquee 15s linear infinite ;
}

.anim:hover {
    animation-play-state: paused;
    
}

@keyframes marquee {
    from { transform: translateX(0);}
    to { transform:  translateX(-50%);}
}
